body{
      font-family:Sans-Serif;
      font-size: 14px;
      line-height: 1.428571429;
      color: #333333;
      background-color: #f8f8f8;
      margin-right:auto;
      margin-left:auto;

}
  /* 总体div*/
  #container{
  
      margin-top:70px;
      width:892px;
        margin-right:auto;
      margin-left:auto;
   
  }
   /* 总体div结束*/
   /* 链接伪类*/
 a{ text-decoration:none;}
 a:link{color:blue; }
 a:visited{color:#007e7e;}
 a:hover {

            background-color:#f88396;
            color:#0d5353;
 }      
 /* 头部*/
 
 #left_login
   {
            padding-right:5px;
            border-right:1px solid #d1d7dc; 
            width: 417px;
    height: 400px;
   }       
   #right_login
   {
    float:right;
    height: 419px;
    width : 356px;
    background-color: #fEfEfE;
    
    }
    #right_login h3{color:#747474;
              font-weight:500;}
    #kuang
    {
        width:286px;
        height:307px;
        margin-left:10px;
           
           }
    #forget{ width:100%;
             margin-bottom:20px;
           text-align:right;
            }
     .sp2{width:50%;}
     .sp1{margin-right:190px;width:50%;}
     .forget-passd .sp2{text-align:right;}
    
    .txt
    {
        background-position: 15px center;
        margin-bottom:20px;
         padding:8px 0;
         border:2px solid #E1E1E1;
         width:100%;
         text-indent:43px;
         font-size:17px;
         }
    #usertxt{ background-image:url(../image/login-locked-icon.png);
              background-repeat:no-repeat;
             
              }
     #passdtxt{ background-image:url(../image/login-key-icon.png);
                 background-repeat:no-repeat;
                 }
     #denglu{ background-color:#DC3C00;
              height:44px;
              color:#FFFFFF;
              text-align:center;
              
              font-size:1.5em;
              width:100%}
     
     #footer{clear:both;
             border-top:1px solid #d1d7dc;
             margin-top:280px;
             margin-right:auto;
             margin-left:auto;
             text-align:center;
                width:1024px;
             font-size:12px;
             }
    #footer p{margin:3px 0;
              
            
             }